#create-account {
    font-family: 'MalloryBook';
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    color: black;
}

.main-container {
    align-self: center;
    width: 500px;
    margin: 40px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.create-account-panel {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 16px;
}

.create-account-header {
    display: block;
}

#header-typography {
    text-align: start;
    font-size: 24px;
    font-weight: 900;
    margin: 10px 0; /* original 8px */
}

.break-box {
    padding: 8px, 0;
}

.fill-box {
    text-align: start;
    padding: 12px 0;
}

.fill-box-header-typography {
    font-size: 13px; /* original 14px */
}

.fill-box-user {
    border: #ccc 1px solid;
    border-radius: 4px;
    padding: 8px;
}

input::placeholder {
    font-size: 13px; /* original 14px */
    vertical-align: middle;
}
