#page-header {
    display: block;
    height: auto;
    margin: 0 auto;
}

#header-container-section {
    display: flex;
    padding: 0 16px;
    align-items: center;
    background-color: white;
}

/*Left Container*/
#header-left-container {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

#header-logo-and-links {
    display: block;
}

#header-logo-section {
    line-height: normal;
    vertical-align: middle;
    margin-right: 12px;
    position: relative;
    display: inline-block;
}

.logo-block {
    align-items: center;
    display: flex;
}

#primary-logo {
    width: 89px;
    height: 37px;
    align-items: center;
    display: flex;
}

#header-links-section {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.links-container {
    padding-left: 24px;
    padding-right: 0px;
    margin: 0 4px;
    display: inline-block;
}

.menu-item-container {
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px !important;
}

.header-links {
    /*font-weight: 500;*/
}

.header-links:hover {
    color: #5392f9;
}

.link-typography {
    font: 14px;
    line-height: 17px;
}

.transportation-container {
    margin: 0 4px;
}

.transportation-container .box {
    display: flex;
}

.transportation-container .box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.menu-link-dropdown {
    cursor: pointer;
}

.dropdown-box {
    margin-left: 8px;
    margin-right: 8px;
}

.dropdown-box .dropdown {
    min-height: 12px;
    min-width: 12px;
}

#header-right-container {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
