#page-header {
    display: block;
    height: auto;
    margin: 0 auto;
    font-size: 14px;
    color: #2a2a2e;
}

#header-container-section {
    display: flex;
    padding: 0 16px;
    align-items: center;
    background-color: white;
}

/*Left Container*/
#header-left-container {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

#header-logo-and-links {
    display: block;
}

#header-logo-section {
    line-height: normal;
    vertical-align: middle;
    margin-right: 12px;
    position: relative;
    display: inline-block;
}

.logo-block {
    align-items: center;
    display: flex;
}

#primary-logo {
    width: 89px;
    height: 37px;
    align-items: center;
    display: flex;
}

#header-links-section {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
}

.links-container {
    padding-left: 26px; /* original 24 px */
    padding-right: 0px;
    margin: 0 4px;
    display: inline-block;
}

.menu-item-container {
    display: inline-block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px !important;
}

.header-links {
    /*font-weight: 500;*/
}

.header-links:hover {
    color: #5392f9;
}

.link-typography {
    font: 14px;
    line-height: 17px;
}

.transportation-container {
    margin: 0 4px;
}

.transportation-container .box {
    display: flex;
}

.transportation-container .box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.menu-link-dropdown {
    cursor: pointer;
}

.dropdown-box {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
}

.dropdown-svg {
    min-height: 10px;
    min-width: 10px;
    max-width: 10px;
    min-width: 10px;
}

#links-flights {
    display: none;
}

/*Right Container*/
#header-right-container {
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    min-width: unset;
}

.action-bar {
    display: inline-block;
    height: 60px;
    font-family: 'HelveticaNeueLight';
    /* display: none; */
}

.action-item-parent {
    display: inline-block;
    float: right;
}

.action-item {
    display: inline-block;
    float: right;
    height: 60px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.action-item-button {
    position: relative;
    margin-right: 8px;
    padding: 12px;
    color: #5392f9;
    border: #5392f9 1px solid;
    border-radius: 4px;
}

.action-item-button:hover {
    color: white;
    background-color: #5392f9;
    transition-behavior: normal;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

.base-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-button .box {
    display: block;
}

.create-account-typography {
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    margin: 0;
}

.sign-in-box {
    font-weight: 600;
    white-space: nowrap;
}

#sign-in-button.action-item-button {
    border: none;
    padding-top:14px; /* to even with other actioon item */
}

.action-item-currency {
    padding: 16px;
    padding-top: 15px; /* padding all sides to 16px, readjust top side to 15px */
    cursor: pointer;
}

.action-box {
    display: block;
    margin: 0 8px;
    align-content: flex-end;
    align-self: center;
}

.shopping-cart {
    margin-left: 16px;
    margin-right: 16px;
    align-self: center;
}

.shopping-cart .box {
    align-items: center;
    display: flex;
}

#shopping-cart-button {
    position: relative;
}

.base-button .box .box {
    position: relative;
    display: block;
}

.base-button .box .box .box {
    display: flex;
}

.svg-icon {
    font-size: 24px;
}

#header-hamburger-menu {
    position: relative;
    padding: 12px;
    border: none;
    border-radius: 4px;
}

#header-hamburger-menu:hover {
    background-color: #5392f9;
    transition-behavior: normal;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    fill: white;
}
