@font-face {
  font-family: 'HelveticaNeueLight';
  src: url(../fonts/HelveticaNeueLight.otf);
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url(../fonts/HelveticaNeueMedium.otf);
}

body {
	background-color: #eee;
	color: #333;
	font-family: 'HelveticaNeueMedium';
	line-height: 1.42857;
}

div {
	display: block;
}